<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./style.css" type="text/css" />
    <title>Etsy</title>
  </head>
  <body>
    <header>
      <div class="left-header">
        <span>Etsy<span><i>Shop</i>
      </div>
      <div class="center-link">
        <a link="" target="_blank">Home</a>
        <a link="" target="_blank">About Us</a>
        <a link="" target="_blank">Product</a>
      </div>
      <div class="icon-bar">

        <a href="#" target="_blank"><i class="fa fa-search" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
      </div>
    </header>
    <section class="card1">
      <h4>Trade-in-offer</h4>
      <h2>Super value deals</h2>
      <h1>On all  product</h1>
      <p>save more  with coupons  & up to 70%  off !</p>
      <button>Shop Now</button>
    </section>
    <section id="features">
      <div class="fe-box">
        <img src="images/img/features/f1.png" alt="">
        <h6>Free Shipping</h6>
      </div>
      <div class="fe-box">
        <img src="images/img/features/f2.png" alt="">
        <h6>Online Order</h6>
      </div>
      <div class="fe-box">
        <img src="images/img/features/f3.png" alt="">
        <h6>Save Money</h6>
      </div>
      <div class="fe-box">
        <img src="images/img/features/f4.png" alt="">
        <h6>Promotions</h6>
      </div>
      <div class="fe-box">
        <img src="images/img/features/f5.png" alt="">
        <h6>Happy Sell</h6>
      </div>
      <div class="fe-box">
        <img src="images/img/features/f6.png" alt="">
        <h6>F24/7 Support</h6>
      </div>
    </section>
    <section id="product1" class="section-p1">
      <h2>Featured Products</h2>
      <p>Summer Collection New Morden Design</p>
      <div class="pro-container">
        <div class="pro">
          <img src="images/img/products/f1.jpg" alt="">
        </div>
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="start">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      </div>
    </section>
      
    <!-- <footer>
      <ul>
        <h1>Shop</h1>
        <li><a href="" target="_blank">Giftcard</li>
        <li><a href="" target="_blank">Sitemap</li>
        <li><a href="" target="_blank">Etsy blog</li>
        <li><a href="" target="_blank">Etsy India</li>
      </ul>
      <ul>
        <h1>Sell</h1>
        <li><a href="" target="_blank">Sell on Etsy</li>
        <li><a href="" target="_blank">Teams</li>
        <li><a href="" target="_blank">Forums</li>
        <li><a href="" target="_blank">Affiliates</li>
      </ul>
      <ul>
        <h1>Help</h1>
        <li><a href="" target="_blank">Help Centre</a></li>
        <li><a href="" target="_blank"></a>Trust and safety</li>
        <li><a href="" target="_blank"></a></li>
      </ul>
      
    </footer> -->
  </body>
</html>
