<!DOCTYPE html>
<html>  
  <head>
    <title>Resume Title</title>
    <link rel="stylesheet"  type="text/css" href="style.css" >
  </head>
  <body>
    <div class="resume-box">
      <h1>Rahul Bakawale</h1>
      <header>
        Contact Number:<p>9977295183</p>|
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank" >Bakawale51@gmail.com</a>|
        <a href="https://github.com/" target="_blank" >Linkedin.com</a>|
        <a href="https://www.linkedin.com/feed/" target="_blank" >Github.com</a>|
        <h5>Indore</h5>
      </header>
      <div class="container">
        <div class="Education-details">
          <h2>EDUCATION</h2><hr/><br/>
          <h4>Devi Ahilya Vishwavidyalaya/Govt. Nirbhay Singh Patel Science College(DAVV/GNPSC),Indore</h4>
          <h4 style="text-align: right">Jul 2014 - Feb 2018</h4><br/>
          <h4>Bachelor of Computer Applications | Computer Application</h4><br/>
          <ul style="list-style-type:square;">
            <li>PA: 6.1/10</li><br/>
            <li>Relevant coursework:Algorithm Design and Analysis,Database System,Probability & Statistical Modelling</li>
          </ul>
        </div><br/>
        <div class="Internship-details">
          <h2>INTERNSHIP EXPERIENCE</h2><hr/><br/>
          <h4>Gems Essence Infotech Pvt Ltd, Indore</h4>
          <h4 style="text-align: right">Sep 2019 - Mar 2020</h4>
          <h4>Student/Ruby on Rails(ROR)</h4><br/>
          <ul style="list-style-type:square;">
            <li>Achievements: Machine Learning, build  Programming skills, team worked,</li>
          </ul>
        </div><br/>
        <div class="In-project-details">
          <h2>PROJECTS</h2><hr/><br/>
          <h4>Created project in Ruby on Rails(ROR) Programming language </h4>
          <h4 style="text-align: right">Dec 2019 - Mar 2020</h4>
          <h4>Project Name :Movie-Rating</h4><br/>
          <ul style="list-style-type:square;">
            <li>Movie-rating(IMDB):This time i built a movie rating and review application,we have a bunch of different movies and each movie has multiple review which is rated on a one to five star scale.And viciously we have the ability to sing-up/sign-in, and only sign-in user have the ability to write review...</li>
          </ul>
        </div><br/>
        <div class="Work-Exp">
          <h2>WORK EXPERIENCE</h2><hr/><br/>
          <h4>kliftox technology Pvt Ltd, Indore </h4>
          <h4 style="text-align: right">Sep 2020 - Jun 2022</h4>
          <h4>Developer/Ruby on Rails(ROR)</h4><br/>
          <ul style="list-style-type:square;">
            <li>Achievements:Build  Programming skills, team worked..</li>
          </ul>
        </div><br/>
        <div class="Project-work">
          <h2>PROJECTS</h2><hr/><br/>
          <h4>Created project in Ruby on Rails(ROR) Programming language </h4>
          <h4 style="text-align: right">Dec 2020 - Apr 2021</h4>
          <h4>Project 1 :School-Erp</h4><br/>
          <ul style="list-style-type:square;">
            <li>School-ERP:This time i built a School-ERP this project  for conduct online exams for student and manage school data and staff data all student data </li>
          </ul>
        </div><br/>
        <div class="Skills">
          <h2>SKILLS & CERTIFICATIONS </h2><hr/><br/>
          <ul style="list-style-type:square;">
            <li><i>Programming Languages - </i>
              C, C++,  Ruby on Rails, JavaScript, ReactJs 
            </li>
            <li><i>Databases - </i>
              MySQL, PostgreSQL, DSA
            </li>
            <li><i>Web - </i>
              HTML5, Css, BootStrap
            </li>
            <li><i>Tools - </i>
              Git, Heroku, Microsoft office, Slack, Skype
            </li>
            <li><i>Operating System - </i>
              Linux ,Microsoft Windows
            </li>
            <li><i>Soft Skills - </i>
              Communication skills, teamwork skills, analysis skills
            </li>
            <li><i>Languages - </i>
              English(bilingual), Hindi(native)
            </li>
          </ul>
        </div><br/>
        <div className="Achievements">
          <h2>AWARDS & ACHIEVEMENTS</h2><hr/><br/>
          <h4>NCC Award (9 MP Battalion Indore)</h4><br/>
          <ul style="list-style-type:square;">
            <li>Awarded for being the best runner and weightlifter  in battalion</li><h4 style="text-align: right">Dec 2015</h4>
            <li>Achievement best Half marathon Runner in   College (GNPSC)	Dec 2016 </li><h4 style="text-align: right">Dec 2016</h4>
          </ul>
        </div><br/>
      </div>
    </div>
  </body> 
</html>
